<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.late.donot.board.model.mapper.BoardMapper">


	<select id="selectNoticeList">
		SELECT
		    N.BOARD_NO,
		    N.BOARD_TITLE,
		    N.BOARD_CONTENT,
		    N.BOARD_WRITE_DATE,
		    N.BOARD_VIEW_COUNT,
		    N.BOARD_DEL_FL,
		    M.MEMBER_NAME
		FROM NOTICE N
		JOIN MEMBER M
		USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY N.BOARD_WRITE_DATE DESC
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*) FROM NOTICE
		WHERE BOARD_DEL_FL = 'N'
	</select>

</mapper>