<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.late.donot.chart.model.mapper.ChartMapper">
    
    <select id="getTopChart">
        SELECT 
            NVL((SELECT COUNT(*) FROM "MEMBER" WHERE "MEMBER_DEL_FL" = 'N'), 0) AS "userCount",
            (SELECT 
                NVL(TO_CHAR(AVG(PUSH_TIME), '00:00'), '00:00')
                FROM "PUSH" 
                WHERE "IS_ACTIVE" = 'Y') AS "avgPushTime",
            (SELECT NVL(ROUND(AVG("PREPARE_TIME"), 1), 0) FROM "PUSH" WHERE "IS_ACTIVE" = 'Y') AS "avgPrepareTime",
            (SELECT NVL(ROUND(AVG("SPARE_TIME"), 1), 0) FROM "PUSH" WHERE "IS_ACTIVE" = 'Y') AS "avgTrafficTime"
        FROM DUAL
    </select>
</mapper>