<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.late.donot.member.model.mapper.MemberMapper">

    <select id="login">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, MEMBER_PW, AUTHORITY,
        PROFILE_IMG, ENROLL_DATE, UPDATE_DATE, SOCIAL_TYPE, SOCIAL_ID
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberId}
		AND MEMBER_DEL_FL = 'N'
	</select>

    <select id="checkId">
        SELECT COUNT(*) FROM "MEMBER"
        WHERE MEMBER_EMAIL = #{memberEmail}
        AND MEMBER_DEL_FL = 'N'
    </select>

    <select id="selectAuthKey">
        SELECT COUNT(*) FROM "TB_AUTH_KEY"
        WHERE AUTH_KEY = #{authKey}
        AND EMAIL = #{email}
    </select>

    <update id="updateAuthKey">
        UPDATE "TB_AUTH_KEY"
        SET AUTH_KEY = #{authKey},
        CREATE_TIME = SYSTIMESTAMP
        WHERE EMAIL = #{email}
    </update>

    <insert id="insertAuthKey">
        INSERT INTO "TB_AUTH_KEY"
        VALUES (SEQ_KEY.NEXTVAL, #{email}, #{authKey}, DEFAULT)
    </insert>

    <select id="checkAuthKey" resultType="_int">
        SELECT COUNT(*)
        FROM "TB_AUTH_KEY"
        WHERE EMAIL = #{email}
        AND AUTH_KEY = #{authKey}
        AND CREATE_TIME >= SYSTIMESTAMP - INTERVAL '5' MINUTE
    </select>
    
    <delete id="deleteAuthKey">
        DELETE FROM "TB_AUTH_KEY"
        WHERE EMAIL = #{email}
    </delete>

    <insert id="signup">
        INSERT INTO "MEMBER"
            (MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, MEMBER_PW, MEMBER_DEL_FL, 
            AUTHORITY, PROFILE_IMG, ENROLL_DATE, UPDATE_DATE, SOCIAL_TYPE, SOCIAL_ID)
        VALUES(SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberName}, #{memberPw}, 'N', 1, NULL, SYSTIMESTAMP, NULL, NULL, NULL)
    </insert>

    <update id="resetPassword">
        UPDATE "MEMBER"
        SET MEMBER_PW = #{memberPw}
        WHERE MEMBER_EMAIL = #{memberEmail}
    </update>

    <select id="findMemberBySocial" resultType="com.late.donot.member.model.dto.Member">
        SELECT 
            MEMBER_NO, 
            MEMBER_EMAIL, 
            MEMBER_NAME, 
            MEMBER_PW, 
            MEMBER_DEL_FL, 
            AUTHORITY, 
            PROFILE_IMG, 
            ENROLL_DATE, 
            UPDATE_DATE, 
            SOCIAL_TYPE, 
            SOCIAL_ID
        FROM DNL."MEMBER"
        WHERE SOCIAL_ID = #{socialId}
        AND SOCIAL_TYPE = #{socialType}
        AND MEMBER_DEL_FL = 'N'
    </select>

    <insert id="insertSocialMember" parameterType="com.late.donot.member.model.dto.Member" useGeneratedKeys="true">
        <selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
            SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
        </selectKey>
        
        INSERT INTO DNL."MEMBER" (
            MEMBER_NO,
            MEMBER_EMAIL,
            MEMBER_NAME,
            MEMBER_PW,
            MEMBER_DEL_FL,
            AUTHORITY,
            PROFILE_IMG,
            ENROLL_DATE,
            SOCIAL_TYPE,
            SOCIAL_ID
        ) VALUES (
            #{memberNo},
            #{memberEmail},
            #{memberName},
            NULL,
            'N',
            1,
            #{profileImg},
            SYSDATE,
            #{socialType},
            #{socialId}
        )
    </insert>
</mapper>